* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
}

.detail-card {
    display: flex;
    margin: 20px auto;
    padding: 20px;
    max-width: 1200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #f9f9f9;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.detail-card {
    background: #f1f1f1;
    background-image: linear-gradient(270deg,
            transparent 50px,
            #ffb4b8 50px,
            #ffb4b8 52px,
            transparent 52px),
        linear-gradient(#e1e1e1 0.1em, transparent 0.1em);
    background-size: 100% 30px;
    gap: 44px;
}

body {
    background: #121212;
    background: linear-gradient(135deg,
            #121212 25%,
            #1a1a1a 25%,
            #1a1a1a 50%,
            #121212 50%,
            #121212 75%,
            #1a1a1a 75%,
            #1a1a1a);
    background-size: 40px 40px;

    animation: move 4s linear infinite;
}

@keyframes move {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 40px 40px;
    }
}

.detail-image {
    max-width: 500px;
    height: 567px;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
}

.detail-content {
    width: 41%;
    padding: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 26px;
    background-color: #ffffff7a;
    border-radius: 20px;
}

.article-title,
.article-summary,
.article-content {
    margin-bottom: 20px;
}

.retour svg {
    fill: black;

}

.retour:hover svg {
    fill: white;
}

.retour {
    gap: 10px;
    align-items: center;
    display: flex;
    padding: 10px;
    padding-right: 4%;
    margin-top: 6px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
    border: none;
    border-radius: 20px;
    text-align: center;
    font-size: 1em;
    border: solid;
    border-color: black;
    color: black;
    background-color: white;
}

.retour:hover {
    background-color: black;
    color: white;
}

.articles-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.article-container {
    cursor: pointer;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: calc(25% - 40px);
    background-color: #f9f9f9;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.article-summary {
    font-size: 15px;
    line-height: 1.4;
    padding-right: 20px;
    padding-left: 20px;
    color: black;
    font-weight: 400;
    text-align: justify;
}

.article-content {
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: 0.5px;
    padding-right: 20px;
    padding-left: 20px;
    color: #333;
    font-weight: 500;
    text-align: justify;
}

@media (max-width: 1000px) {
    .detail-card {
        flex-direction: column;
        gap: 20px;
    }

    .detail-image {
        max-width: 50%;
        height: auto;
    }

    .detail-content {
        width: 100%;
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .article-container {
        width: 100%;
    }

    .article-title,
    .article-summary,
    .article-content {
        padding: 0 10px;
        font-size: smaller;
    }

    .editer,
    .supprimer {
        font-size: 12px;
    }
}